.card{
  color:white!important;
  height:250px;
  width:80%;
  padding:10px;
  background-color:#222831!important;

  .rateBtn{
    background-color: #FFEB3B;

    &:hover{
      cursor:'pointer'!important;
    }
  }
}
