.gridItem{
  margin: 20px;
  padding: 10px;
}

.title{
  padding-left: 10px;
  color:#e1ffc2;
  padding-top: 25px;
  padding-bottom: 25px;
}

.search{
  padding-right: 85px;
  width: 100%;
  text-align: right;
  padding-bottom: 10px;
}
